{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>LitReview</title>
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
</head>
<body>
<header class="header">
    <a href="/"><img src="{% static 'image/book.png' %}" alt="logo" class="header_img"></a>
    <h1 class="header_title">LitReview</h1>
    <nav class="header_menu">
        <ul class="header_menu_ul">
            <li class="header_menu_li"><a href="/">Flux</a></li>
            <li class="header_menu_li"><a href="{% url 'posts' %}">Posts</a></li>
            <li class="header_menu_li"><a href="{% url 'subscriptions' %}">Abonnements</a></li>
            <li class="header_menu_li"><a href="{% url 'logout' %}">Se déconnecter</a></li>
        </ul>
    </nav>
</header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
