.ticket_form input,
.ticket_form textarea {
    margin-top: 5px;
}

form p {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }