{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/flux.css' %}">
   <section>
       <article>
        <div class="container_button">
            <div class="button">
                <a href="{% url 'make_a_ticket' %}">Demander une critique</a>
            </div>
            <div class="button">
                <a href="{% url 'create_a_review' %}">Créer une critique</a>
            </div>
        </div>
        {% for element in list_of_ticket_and_reviews %}
        {% if element.ticket %}
        <div class="container container_ticket">
        {% else %}
        <div class="container container_review">
        {% endif %}
            {% if element.ticket %}
                <p class="flux_title ticket_title">{{ element.user }} a publié une critique</p>
                <p class="flux_book_title">{{ element.headline }}</p>
                <p>{{ element.rating }} / 5</p>
                <p>{{ element.body }}</p>
                <p class="flux_book_date">{{ element.time_created }}</p>
                <div class="container sub_container container_review">
                    <p class="flux_book_title">{{ element.ticket.title }}</p>
                    <p>{{ element.ticket.description }}</p>
                    <p>{{ element.ticket.user }}</p>
                    <p class="flux_book_date">{{ element.ticket.time_created }}</p>
                    <img class="image_list" src="/media/{{ element.ticket.image }}" alt="image of illustration">
                </div>
            {% else %}
                <p class="flux_title review_title">{{ element.user }} a demandé une critique</p>
                <p class="flux_book_title">{{ element.title }}</p>
                <p>{{ element.description }}</p>
                <p class="flux_book_date">{{ element.time_created }}</p>
                <img class="image_list" src="/media/{{ element.image }}" alt="image of illustration">

                <div class="container_ticket_button">
                {% if not element.done %}
                    <div class="ticket_button button_create">
                        <a href="{% url 'create_response_review' id=element.id %}">Créer une critique</a>
                    </div>
                {% endif %}
                </div>
            {% endif %}
            <div class="container_ticket_button">
                {% if posts_list %}
                    {% if element.ticket %}
                        <div class="ticket_button button_update">
                            <a href="{% url 'post_update' type='reviews' id=element.id %}">Modifier</a>
                        </div>
                        <div class="ticket_button button_delete">
                            <a href="{% url 'post_remove' type='reviews' id=element.id %}">Supprimer</a>
                        </div>
                    {% else %}
                        <div class="ticket_button button_update">
                            <a href="{% url 'post_update' type='ticket' id=element.id %}">Modifier</a>
                        </div>
                        <div class="ticket_button button_delete">
                            <a href="{% url 'post_remove' type='ticket' id=element.id %}">Supprimer</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</article>
    </section>
{% endblock %}




