{% extends 'base.html' %}

{% block content %}
   <main>
        <div class="container_button">
            <div class="button">
                <a href="{% url 'make_a_ticket' %}">Demander une critique</a>
            </div>
            <div class="button">
                <a href="{% url 'create_a_review' %}">Créer une critique</a>
            </div>
        </div>
        {% for element in list_of_ticket_and_reviews %}
        <div class="container">
            {% if element.ticket %}
                <p>{{ element.user }} a publié une critique</p>
                <p>{{ element.headline }}</p>
                <p>{{ element.rating }}</p>
                <p>{{ element.body }}</p>
                <p>{{ element.time_created }}</p>
                <div class="container sub_container">
                    <p>{{ element.ticket.title }}</p>
                    <p>{{ element.ticket.description }}</p>
                    <p>{{ element.ticket.user }}</p>
                    <p>{{ element.ticket.time_created }}</p>
                    <img class="image_list" src="/media/{{ element.ticket.image }}" alt="image of illustration">
                </div>
            {% else %}
                <p>{{ element.user }} a demandé une critique</p>
                <p>{{ element.title }}</p>
                <p>{{ element.description }}</p>
                <p>{{ element.time_created }}</p>
                <img class="image_list" src="/media/{{ element.image }}" alt="image of illustration">

                <div class="container_ticket_button">
                {% if not element.done %}
                    <div class="ticket_button">
                        <a href="{% url 'create_response_review' id=element.id %}">Créer une critique</a>
                    </div>
                {% endif %}
                </div>
            {% endif %}
            <div class="container_ticket_button">
                {% if posts_list %}
                    {% if element.ticket %}
                        <div class="ticket_button">
                            <a href="{% url 'post_update' type='reviews' id=element.id %}">Modifier</a>
                        </div>
                        <div class="ticket_button">
                            <a href="{% url 'post_remove' type='reviews' id=element.id %}">Supprimer</a>
                        </div>
                    {% else %}
                        <div class="ticket_button">
                            <a href="{% url 'post_update' type='ticket' id=element.id %}">Modifier</a>
                        </div>
                        <div class="ticket_button">
                            <a href="{% url 'post_remove' type='ticket' id=element.id %}">Supprimer</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </main>
{% endblock %}





<!-- 
pré remplir les champs pour l'update OK
update pour les tickets OK
insérer image OK
moddifier : changer le texte OK
update revie E>T ticket OK
désabonner OK
css
README
uodate revoir

PUT / DELETE ? c'est en form 
DECALAGE REUNION  12h30 jeudi   15h30 chez moi
Pojet 8 ?
-->

<!-- repo git oK ? : supprimer myenv-->
<!-- diificultés à modifier le select du form, j'ai du mettre msg erreur a laplace -->
<!-- validateur de mot de passe https://openclassrooms.com/fr/courses/7192426-allez-plus-loin-avec-le-framework-django/7387277-creez-une-page-d-inscription -->
<!-- messages françaisregister /login -->
