{% extends 'base.html' %}

{% block content %}
   <main>
        <div class="container_button">
            <div class="button">
                <a href="{% url 'make_a_ticket' %}">Demander une critique</a>
            </div>
            <div class="button">
                <a href="{% url 'create_a_review' %}">Créer une critique</a>
            </div>
        </div>
        {% for element in list_of_ticket_and_reviews %}
        <div class="container">
            {% if element.ticket %}
                <p>{{ element.user }} a publié une critique</p>
                <p>{{ element.headline }}</p>
                <p>{{ element.rating }}</p>
                <p>{{ element.body }}</p>
                <p>{{ element.time_created }}</p>
                <div class="container sub_container">
                    <p>{{ element.ticket.title }}</p>
                    <p>{{ element.ticket.description }}</p>
                    <p>{{ element.ticket.user }}</p>
                    <p>{{ element.ticket.time_created }}</p>
                </div>
            {% else %}
                <p>{{ element.user }} a demandé une critique</p>
                <p>{{ element.title }}</p>
                <p>{{ element.image }}</p>
                <img scr="{{ element.image }}" alt="image of illustration">
                <p>{{ element.description }}</p>
                <p>{{ element.time_created }}</p>
                <div class="container_ticket_button">
                {% if not element.done %}
                    <div class="ticket_button">
                        <a href="{% url 'create_response_review' id=element.id %}">Créer une critique</a>
                    </div>
                {% endif %}
                </div>
            {% endif %}
            <div class="container_ticket_button">
                {% if posts_list %}
                    <div class="ticket_button">
                        <a href="{% url 'post_update' id=element.id %}">Modifier</a>
                    </div>
                    <div class="ticket_button">
                        <a href="{% url 'post_remove' id=element.id %}">Supprimer</a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </main>
{% endblock %}





<!-- 
pré remplir les champs pour l'update OK
update pour les tickets OK
insérer image
css
README
-->

<!-- repo git oK ? -->
<!-- diificultés à modifier le select du form, j'ai du mettre msg erreur a laplace -->
<!-- validateur de mot de passe https://openclassrooms.com/fr/courses/7192426-allez-plus-loin-avec-le-framework-django/7387277-creez-une-page-d-inscription -->
<!-- messages françaisregister /login -->
