{% extends 'base.html' %}

{% block content %}
    <h2>Suivre d'autres utlisateurs</h2>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

    <h2> Abonnements</h2>
    <table>
        <tbody>
            {% for user in followed_users %}
            <tr>
                <td>{{ user }}</td>
                <td>Désabonner</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Abonnés</h2>
    <tr>
        {% for user in following_users %}
        <td>{{ user }}</td>
        {% endfor %}
    </tr>
{% endblock %}
